evidence export-ignore
evidence/ export-ignore
evidence/** export-ignore
product export-ignore
product/ export-ignore
product/** export-ignore
reusable_service export-ignore
reusable_service/ export-ignore
reusable_service/** export-ignore
tests_template export-ignore
tests_template/ export-ignore
tests_template/** export-ignore
.env.local export-ignore
.gitattributes export-ignore
